html__catalog {
    overflow: scroll;
}

.catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 104px 0 99px 0;
}
.container {

}
.catalog__card {
    max-width: 1256px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 28px;
    grid-row-gap: 21px;
}
.card {
    border: 2px solid #556BAF;
    border-radius: 29px;
    
    width: 186px;
    height: 239px;
    
}

